@model Core.ViewModels.ApplicationUserViewModel
@{
    ViewData["Title"] = "Staff Evaluation Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 mb-4">
    <div class=" col-md-8 m-auto">
        <form id="multiSectionForm">
            <h2 class="text-center"> Staff Evaluation Page </h2>
            <div class="section mt-1" id="section1">
                <p class="text-center text-warning"> <b> Read the instructions carefully, before continuing with this evaluation.</b></p>
                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="row g-5">
                            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                                <h4 class="mb-4">Staff Credential Upload Instructions </h4>
                                <p class="mb-4">
                                    To complete your staff onboarding, kindly upload any one of the following documents:
                                </p>
                                <div class="row gy-2 gx-4 mb-4">
                                    <div class="col-sm-12">
                                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i> High School Completion Certificate/Result</p>
                                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i>For staff from West Africa: Please upload your WAEC certificate along with a valid WAEC scratch card for result verification.</p>
                                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i> Transcript of Results from Your Last Completed Degree Program</p>
                                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i> Transcript of Results from Your Last Completed Higher Diploma Program</p>
                                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i> Any Other Relevant Certificate that can support and enhance your eligibility</p>
                                    </div>
                                </div>

                                <h1 class="mb-4 text-warning"> Important Notes: </h1>

                                <h6>
                                    All prospective staff and workers are required to undergo a Staff Credential Evaluation and Compliance Screening Process to ensure safeguarding, 
                                    credibility, professional standards, and regulatory compliance in accordance with applicable United Kingdom laws and institutional policies.
                                    This process is compulsory and is conducted by our independent partnering compliance company. <br /> 
                                    <b> <i> More on Staff Verification? See <a asp-action="StaffCredentialEvaluation" asp-controller="AcademicStaff" target="_blank"> Emus Institutte Staff Screening, Safeguarding, GDPR & Recruitment Compliance Policies </a></i></b>
                                    <br /> <br />
                                    <b>Please Note:</b>

                                    <br /> Following the review of your application, our Compliance Department may contact you if you are required to complete additional certifications, training, 
                                    or regulatory requirements in line with United Kingdom educational laws, 
                                    safeguarding standards, or professional regulations relevant to your course, position, or advertised vacancy.
                                    Applicants whose submissions successfully meet the required standards and institutional requirements shall be contacted by the 
                                    Human Resources Department regarding the next stage of the recruitment or engagement process.
                                </h6>

                                <h6>Please ensure that all documents submitted are valid, clear, and authentic. </h6>

                                <h6> A non-refundable administrative and verification fee of One Hundred Pounds Sterling (£100) applies. (covers application, transcript review and certificate evaluation). </h6>
                                <h6> <small> Thank you for joining Emus Institute.</small> </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="submit-btn" type="button" style="float: right;" class="btn btn-primary px-5 py-3 mt-3" onclick="nextStaffSection(2)">
                    Continue <i class="fa fa-arrow-right ms-3"> </i>
                </button>
            </div>

            <!-- Section 2 -->
            <div class="section mt-3" id="section2" style="display: none;">
                <p class="text-center text-warning"> <b> Make sure to upload the required documents </b></p>
                <div class="form-group mb-3">
                    <label class="custom-file-label"> Passport (accepted format: jpg) </label>
                    <input type="file" accept="image/jpg, image/jpeg" class="form-control custom-file-input" id="passport" required style="background-color:transparent !important;" />
                    <input value="@Model.Id" id="userId" hidden />
                </div>
                <div class="form-group mb-3">
                    <label class="custom-file-label"> School Transcript (accepted format: pdf) </label>
                    <input type="file" class="form-control custom-file-input" id="transcript" accept="application/pdf" required style="background-color:transparent !important;" />
                </div>
                <div class="form-group mb-3">
                    <label class="custom-file-label"> High School Completion Certificate (accepted format: jpg) </label>
                    <input type="file" class="form-control custom-file-input" accept="image/jpg, image/jpeg" id="highSchCert" required style="background-color:transparent !important;" />
                </div>
                <div class="form-group mb-3">
                    <label class="custom-file-label"> Valid WAEC scratch card <small class="text-danger"> For staff from West Africa</small> (accepted format: jpg) </label>
                    <input type="file" class="form-control custom-file-input" id="waecScratchCard" accept="image/jpg, image/jpeg" required style="background-color:transparent !important;" />
                </div>
                <div class="form-group mb-3">
                    <label class="custom-file-label"> Any Other Relevant Certificate (accepted format: jpg) </label>
                    <input type="file" accept="image/jpg, image/jpeg" class="form-control custom-file-input" id="anyRelevantCert" required style="background-color:transparent !important;" />
                </div>

                <button type="button" class="btn btn-outline-secondary px-5 py-3 mt-3" onclick="previousStaffSection(1)">
                    <i class="fa fa-arrow-left ms-3"> </i>
                    Previous
                </button>
                <button type="button" id="submit_btn" style="float: right;"
                        class="btn btn-primary px-5 py-3 mt-3" onclick="EvaluateStaff()">
                    Evaluate
                </button>
            </div>
        </form>
    </div>
</div>


<script>
    function nextStaffSection(nextSectionNumber) {
        var currentSectionNumber = nextSectionNumber - 1;
        var currentSection = document.getElementById('section' + currentSectionNumber);
        var nextSection = document.getElementById('section' + nextSectionNumber);

        var data = {};
        if (currentSection && nextSection) {
            
            currentSection.style.display = 'none';
            nextSection.style.display = 'block';
        }
    }
    function previousStaffSection(previousSectionNumber) {

        var currentSectionNumber = previousSectionNumber + 1;
        var currentSection = document.getElementById('section' + currentSectionNumber);
        var previousSection = document.getElementById('section' + previousSectionNumber);

        if (currentSection && previousSection) {
            currentSection.style.display = 'none';
            previousSection.style.display = 'block';
        }
    }

</script>