################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Emus-Institute-Main/v17
/Emus-Institute/.vs/ProjectEvaluation
/Emus-Institute/Core/obj
/Emus-Institute/Emus-Institute/bin/Debug/net9.0
/Emus-Institute/Logic/bin/Debug/net9.0
/Emus-Institute/Logic/obj
/Emus-Institute/Emus-Institute/obj/Debug/net9.0
/Emus-Institute/Emus-Institute/obj
/Emus-Institute/Core/bin/Debug/net9.0
/Emus-Institute/.vs/Emus-Institute
/Emus-Institute/Logic/bin/Release/net9.0
/Emus-Institute/Emus-Institute/bin/Release/net9.0
/Emus-Institute/Core/bin/Release/net9.0
/Emus-Institute/Emus-Institute/.config
/Emus-Institute/Emus-Institute/appsettings.json
