@model Core.ViewModels.ApplicationUserViewModel
@{
    ViewData["Title"] = "Evaluation Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 mb-4">
    <div class=" col-md-8 m-auto">
        <form id="multiSectionForm">
            <h2 class="text-center"> Evaluation Page </h2>
            <div class="section mt-1" id="section1">
                <p class="text-center text-warning"> <b> Read the instructions carefully, before continuing with this evaluation.</b></p>
                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="row g-5">
                            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                                <h4 class="mb-4">Admission Document Upload Instructions </h4>
                                <p class="mb-4">
                                    To complete your admission process, kindly upload any one of the following documents:
                                </p>
                                <div class="row gy-2 gx-4 mb-4">
                                    <div class="col-sm-12">
                                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i> High School Completion Certificate/Result</p>
                                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i>For students from West Africa: Please upload your WAEC certificate along with a valid WAEC scratch card for result verification.</p>
                                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i> Transcript of Results from Your Last Completed Degree Program</p>
                                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i> Transcript of Results from Your Last Completed Higher Diploma Program</p>
                                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i> Any Other Relevant Certificate that can support and enhance your admission eligibility</p>
                                    </div>
                                </div>

                                <h1 class="mb-4 text-warning"> Important Notes: </h1>

                                <h6>  All uploaded documents will undergo verification.</h6>

                                <h6> We will contact you if further clarification or additional documents are required. </h6>

                                <h6>Please ensure that all documents submitted are valid, clear, and authentic. </h6>

                                <h6> <small> Thank you for choosing to study with us.</small> </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="submit-btn" type="button" style="float: right;" class="btn btn-primary px-5 py-3 mt-3" onclick="nextSection(2)">
                    Continue <i class="fa fa-arrow-right ms-3"> </i>
                </button>
            </div>

            <!-- Section 2 -->
            <div class="section mt-3" id="section2" style="display: none;">
                <p class="text-center text-warning"> <b> Make sure to upload the required documents </b></p>

                <div class="form-group mb-3">
                    <label class="custom-file-label"> Passport (accepted format: jpg) </label>
                    <input type="file" class="form-control custom-file-input" id="passport" required style="background-color:transparent !important;" />
                    <input value="@Model.Id" id="userId" hidden />
                </div>
                <div class="form-group mb-3">
                    <label class="custom-file-label"> School Transcript (accepted format: jpg) </label>
                    <input type="file" class="form-control custom-file-input" id="transcript" required style="background-color:transparent !important;" />
                    
                </div>
                <div class="form-group mb-3">
                    <label class="custom-file-label"> High School Completion Certificate (accepted format: jpg) </label>
                    <input type="file" class="form-control custom-file-input" id="highSchCert" required style="background-color:transparent !important;" />
                </div>
                <div class="form-group mb-3">
                    <label class="custom-file-label"> Valid WAEC scratch card <small class="text-danger"> For students from West Africa</small> (accepted format: jpg) </label>
                    <input type="file" class="form-control custom-file-input" id="waecScratchCard" required style="background-color:transparent !important;" />
                </div>
                <div class="form-group mb-3">
                    <label class="custom-file-label"> Any Other Relevant Certificate (accepted format: jpg) </label>
                    <input type="file" class="form-control custom-file-input" id="anyRelevantCert" required style="background-color:transparent !important;" />
                </div>

                <button type="button" class="btn btn-outline-secondary px-5 py-3 mt-3" onclick="previousSection(1)">
                    <i class="fa fa-arrow-left ms-3"> </i>
                    Previous
                </button>
                <button type="button" id="submit_btn" style="float: right;"
                        class="btn btn-primary px-5 py-3 mt-3" onclick="Evaluate()">
                    Evaluate
                </button>
            </div>
        </form>
    </div>
</div>


<script>
    function nextSection(nextSectionNumber) {
        var currentSectionNumber = nextSectionNumber - 1;
        var currentSection = document.getElementById('section' + currentSectionNumber);
        var nextSection = document.getElementById('section' + nextSectionNumber);

        var data = {};
        if (currentSection && nextSection) {
            
            currentSection.style.display = 'none';
            nextSection.style.display = 'block';
        }
    }
    function previousSection(previousSectionNumber) {

        var currentSectionNumber = previousSectionNumber + 1;
        var currentSection = document.getElementById('section' + currentSectionNumber);
        var previousSection = document.getElementById('section' + previousSectionNumber);

        if (currentSection && previousSection) {
            currentSection.style.display = 'none';
            previousSection.style.display = 'block';
        }
    }

</script>