@model IEnumerable<Core.ViewModels.DepartmentViewModel>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/assets/img/carousel-1.jpg" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">The Best Online Learning Platform</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Welcome to Emus-Institute where you get to learn from the very best in the world.</p>
                            <a asp-action="StudentRegistration" asp-controller="Account" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Join Now</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/assets/img/carousel-2.jpg" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">Get Educated Online from your home </h1>
                            <p class="fs-5 text-white mb-4 pb-2"> We will help you build from scratch, stage by stage until you can stand alone.</p>
                            <a asp-action="StudentRegistration" asp-controller="Account" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Skilled Instructors</h5>
                        <p>Our instructors and lecturers are top notch, always the best at what they do</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Online Classes</h5>
                        <p> You can be part of the online class from the comfort of your home</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Home Projects and Assignments</h5>
                        <p> We give you projects that will help solidify your knowledge</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book text-primary mb-4"></i>
                        <h5 class="mb-3">Book Library</h5>
                        <p> We make it easy to read and understand textbooks, available for you always</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/assets/img/about.jpg" alt="" style="object-fit: cover;" />
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to Emus-Institute</h1>
                <p class="mb-4">
                    Emus Institute, an innovative online learning platform that empowers students to achieve their academic and professional goals
                    from anywhere in the world. We offer flexible, high-quality degree programs and courses designed to fit the needs of busy adults and aspiring learners.
                    Join our diverse community of learners and experience the convenience and flexibility of online education that fits your lifestyle.
                </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i>Certificate of Completion</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i> Book Library</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i>Home Projects</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0 text-start"><i class="fa fa-arrow-right text-primary me-2"></i>Questions and Answer Section</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Home" asp-action="About">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
            <h1 class="mb-5">Available Courses</h1>
        </div>
        @if (Model?.Count() > 0 && Model != null)
        {
            <div class="row g-4 justify-content-center">
                @foreach (var depts in Model)
                {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="course-item bg-light">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid" src="~/assets/img/grad.jpg" alt="img">
                                <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    <a asp-action="About" asp-controller="Home" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                    <a asp-action="StudentRegistration" asp-controller="Account" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                                </div>
                            </div>
                            <div class="text-center p-4 pb-0">
                                <div class="mb-3">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                                <h5 class="mb-4">@depts.Name</h5>
                                <p class="mb-4"> @depts.Description</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>50 Students</small>
                            </div>
                        </div>
                    </div>

                }
            </div>
        }
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-primary py-3 px-5" asp-controller="Home" asp-action="Courses">
            See All Available Courses <i class="fa fa-arrow-right ms-3"></i>
        </a>
    </div>

</div>
<!-- Courses End -->
